.maskui_dialog {
  width: 420px;
  background-color: #e9e9e9;
  background-color: rgba(233, 233, 233, 0.8);
  padding: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 10px #666;
  -moz-box-shadow: 0 0 10px #666;
  box-shadow: 0 0 10px #666;
  display: none;
}
.maskui_dialog .dialog_con {
  position: relative;
  border: 1px solid #a0a0a0;
  min-height: 100px;
  _height: 100px;
  background-color: #fff;
  padding: 20px;
}
.maskui_dialog .dialog_close {
  width: 23px;
  height: 23px;
  display: inline-block;
  position: absolute;
  background: transparent url(../images/maskui-close.png) no-repeat;
  right: 10px;
  top: 10px;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.maskui_dialog .dialog_close:hover {
  background-color: #eee;
}
.maskui_dialog .dialog_alert {
  padding: 10px 0 10px;
  text-align: center;
}
.maskui_dialog .dialog_alert p {
  margin-top: 20px;
}
.maskui_dialog .dialog_btn {
  border: 1px solid #dfdfdf;
  height: 33px;
  line-height: 33px;
  display: inline-block;
  padding: 0 30px;
  text-align: center;
  font-size: 14px;
  color: #333333;
  border-radius: 3px;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}
.maskui_dialog .dialog_btn:hover {
  border: 1px solid #d3d3d3;
  background: #f6f6f6 url('');
  text-decoration: none;
}
.maskui_dialog .confirm_ok {
  margin-right: 10px;
}
